/* ウィンドウ全体 */
.outerFrame {
    border:4px solid red;
}

.mainWindow {
    border-radius:10px;
    border:4px solid #86cecb;
    background-image: url("/tmp/moeclock.png");
    background-position: -4px -4px;
    background-color: transparent;
}
